<div id="ftr" class="footer py-3 mt-3">
    <div class="container">
        <span class="text-muted">
            Özgür Tokay <span id="ayir">|</span> <span id="email">tokayo@outlook.com.tr</span>
        </span>
    </div>
</div>