<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MovieApp</title>
    @* Bootstrap *@
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<body>
    <header>
        @Html.Partial("_Navbar")
    </header>

    <main>
        <div class="container mt-4">
            @RenderBody()
        </div>
    </main>

    <footer>
        @Html.Partial("_Footer")
    </footer>


</body>

</html>
